{% extends 'base.html' %}

{% block lang %} 
	zh-Hant-TW
{% endblock %}

{% block title %} 
	首頁 - 
{% endblock %}

{% block CSS %} 
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">
	<link rel="stylesheet" href=" {{url_for('static', filename='style/index.css')}} ">
{% endblock %}

{% block script %}
	<script src=" {{url_for('static', filename='script/FileSaver.min.js')}} "></script>
	<script src=" {{url_for('static', filename='script/index_tw.js')}} "></script>
{% endblock %}

{# ========================================================================================= #}

{% block navButton %}
	<a class="nav-item nav-link active" href="#">首頁</a>
	<a class="nav-item nav-link" href="#">關於我們</a>
{% endblock %}

{% block content %} 
	<div class="container content-body">
		<div class="position-fixed d-none" id="alert">
			<div class="alert alert-success">alert.</div>
		</div>
		
		<div class="content">
			<h2 class="title">噗文轉存器</h2>
			<hr/>
			<div class="intro">
				<p>常常看到經典好噗，卻無法離線閱讀嗎？</p>
				<p>只要在下方貼上噗文網址，我們就可以幫你轉為純文字檔下載儲存喔！</p>
				<p class="text-ps border rounded-pill"><span>．</span>　文字格式支援markdown語法，可以直接利用hackmd、Visual Studio外掛等輔助工具增進閱讀體驗。</p>
			</div>
			
			<div class="form card">
				<div class="card-header">輸入噗文網址：</div>
				<form class="card-body input-group">
					<input class="form-control" id="plurk-url" placeholder="https://www.plurk.com/p/xxxxxx"/>
					<div class="input-group-append">
						<button type="button" class="btn btn-primary" id="plurk-url-submit">送出！</button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="status-column">
			<div class="row justify-content-center" id="status"> </div>
		</div>
	</div>
{% endblock %}

{% block footer %} 
	<p class="footer-text">Plurk Extractor - 2020</p>
{% endblock %}