/* common setting */
 * {
	box-sizing: border-box;
}
 
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.btn {
	background-color: #55bbff;
	border-radius: 30px;
	width: 140px;
	height: 50px;
	padding: 12px 25px;
	font-size: 18px;
}

.btn#download-ufo {
	position: fixed;
	bottom: 100px;
	right: -100px;
	color: #55bbff;
	opacity: 30%;
	animation: fadeout 0.5s backwards, breathing 10s 5s infinite;
}

.btn#download-ufo:hover {
	right: -10px;
	color: #fff;
	opacity: 100%;
	animation: fadein 0.5s;
}



/* animation */
@keyframes breathing {
	0% {
		opacity: 30%;
	}
	10% {
		opacity: 30%;
	}
	30% {
		opacity: 70%;
	}
	50% {
		opacity: 30%;
	}
}

@keyframes fadeout {
	0% {
		opacity: 90%;
		right: -10px;
		color: #fff;
	}
	100% {
		opacity: 30%;
		right: -100px;
		color: #55bbff;
	}
}

@keyframes fadein {
	0% {
		opacity: 30%;
		right: -100px;
		color: #55bbff;
	}
	100% {
		opacity: 100%;
		right: -10px;
		color: #fff;
	}
}

