/*--- common setting ---*/
 * {
	box-sizing: border-box;
	font-family: 'Noto Serif TC', 'Poppins', sans-serif;
 }

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 1.5rem;		/* for footer */
}

hr {
	color: rgba(30, 30, 30, 50)
	border-width: 0.2em;
}

p {
	font-size: 1em;
}

/*--- placeholder ---*/
::placeholder { 		/* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc !important;
}

:-moz-placeholder { 	/* Old Firefox */
  color: #ccc !important;
}

::-moz-placeholder { 	 /* new Firefox */
  color: #ccc !important;
}

:-ms-input-placeholder {  /* IE */
  color: #ccc !important;
}

::-ms-input-placeholder {  /* Edge */
  color: #ccc !important;
}

::-webkit-input-placeholder { /* Edge */
  color: #ccc !important;
}

/* nav bar */
.navbar {
	background-color: #FF574D;
}

.navbar-toggler-icon {
	font-size: 0.9rem;
}

#nav-icon {
	width: 25px;
	margin: auto 10px;
}

/* content */

.text-ps {
	color: rgb(100, 100, 100);
	font-size: 0.8em;
	padding: 0.3em 0;
}

.intro {
	padding: 2em;
}

/* pin-note */
.pin-note td {
	padding: 0 0.2em;
}

/* hint */
.hint {
	padding: 0 0.5em 0 0.7em;
}

.hint td {
	vertical-align: top;
}


/* status */
.status {
	margin: 2em 0 5em 0;
}

.status table {
	margin: 0 auto;
}

#status-icon {
	font-size: 0.9em;
}


/* footer */
.footer {
	background-color: #FF574D;
	position: absolute;
	bottom: 0;
	width: 100%; 
	height: 1.5rem;
	text-align: center;
}

.footer-text {
	color: #FFFFFF;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.5rem;
	margin: 0;
}

/* float alert */
#alert {
	z-index: 1000;
	opacity: 0.9;
	filter: alpha(opacity=90);
	top: 2em;
}

/*------------- RWD component  -------------*/

/* for normal appearance */
.content-body {
	width: 70%;
	min-width: 300px;
	margin: 2em auto;
}

.intro {
	padding: 2em;
}

#alert {
	width: 70%;
	left: 15%;
}

/* for horizontal tablet */
@media only screen and (max-width: 768px){
	/*991.98*/
	.content-body {
		width: 95%;
		min-width: 300px;
		margin: 2em auto;
	}
	
	.intro {
		padding: 2em;
	}
	
	#alert {
		width: 90%;
		left: 5%;
	}
}

/* for mobile phone */
@media only screen and (max-width: 576px){
	
	.intro {
		padding: 2em 0;
	}
	
}


