<!DOCTYPE html>
<html lang="{% block lang %} {% endblock %}">
<head>
	<!-- webpage description -->
	<meta charset="{% block encoding %} {% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Plurk Extractor">

	<title>{% block title %} {% endblock %}</title>
	
	<!-- resource loading -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	
	{% block resource %}
		{# Please load font and custom style sheet here #}
	{% endblock %}
	
</head>
<body>
	{% block body %} 
		{# main content in the page #}
		<p>The page is empty.</p>
	{% endblock %}
	
	<!-- script resource loading -->
	{% block script %} 
		{# Please load custom JS script here #}
		{# jquery and bootstrap script is loaded by default #}
	{% endblock %}
</body>
</html>